@{
    ViewBag.Title = "Admin";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="col-md-4">
            <h2>Add a New Vehicle</h2>
            <form class="mb-4" id="addVehicleForm">
                <div class="form-group">
                    <label for="modelYear">Model Year</label>
                    <input type="number" id="modelYear" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="make">Make</label>
                    <input type="text" id="make" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" id="model" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="trim">Trim</label>
                    <input type="text" id="trim" class="form-control" required>
                </div>
                <button type="submit" class="mt-4 btn btn-primary">Add Vehicle</button>
            </form>
        </div>

        <div class="col-md-4">
            <h2>Add a New Part</h2>
            <form class="mb-4" id="addPartsForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="partsNumber">Parts Number</label>
                    <input type="text" id="partsNumber" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="partsName">Parts Name</label>
                    <input type="text" id="partsName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="imageFile">Image File</label>
                    <input type="file" id="imageFile" class="form-control" required>
                </div>
                <button type="submit" class="mt-4 btn btn-primary">Add Part</button>
            </form>
        </div>

        <div class="col-md-4">
            <h2>Add Fitment</h2>
            <form id="addFitmentForm">
                <label for="vehicleFitmentDropdown">Select Vehicle:</label>
                <select class="form-control mb-4 vehicle-dropdown" id="vehicleFitmentDropdown">
                </select>
                <br>
                <label for="partFitmentDropdown">Select Part:</label>
                <select class="parts-dropdown form-control mb-4" id="partFitmentDropdown">
                </select>
                <br>
                <button class="btn btn-primary" type="submit">Add Fitment</button>
            </form>

        </div>
    </section>
    <section class="row">
        <div class="col-md-6">

            <h2>Edit / Delete Existing Vehicle.</h2>
            <select id="vehicleDropdown" class="vehicle-dropdown form-control mb-4">
                <option value="">Select a vehicle</option>
            </select>
            <input type="hidden" id="selectedVehicleId" class="form-control">
            <div class="form-group">
                <label for="selectedModelYear">Model Year</label>
                <input type="number" id="selectedModelYear" class="form-control">
            </div>
            <div class="form-group">
                <label for="selectedMake">Make</label>
                <input type="text" id="selectedMake" class="form-control">
            </div>
            <div class="form-group">
                <label for="selectedModel">Model</label>
                <input type="text" id="selectedModel" class="form-control">
            </div>
            <div class="form-group">
                <label for="selectedTrim">Trim</label>
                <input type="text" id="selectedTrim" class="form-control">
            </div>
            <button type="button" id="updateVehicleButton" class="mt-4 btn btn-secondary">Update Vehicle</button>
            <button type="button" id="deleteVehicleButton" class="mt-4 btn btn-danger">Delete Vehicle</button>

        </div>
        <div class="col-md-6">
            <h2>Edit / Delete Existing Part.</h2>
            <input type="hidden" id="selectedPartsId" class="form-control">
            <select id="partsDropdown" class="parts-dropdown form-control mb-4">
                <option value="">Select a Part</option>
            </select>
            <input type="hidden" id="selectedPartsId" class="form-control">
            <div class="form-group">
                <label for="selectedPartsName">PartsName</label>
                <input type="text" id="selectedPartsName" class="form-control">
            </div>
            <div class="form-group">
                <label for="selectedPartsNumber">PartsNumber</label>
                <input type="number" id="selectedPartsNumber" class="form-control">
            </div>
            <div class="form-group">
                <label for="selectedDescription">Description</label>
                <textarea id="selectedDescription" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="selectedImageUrl">Image File</label>
                <input type="file" id="selectedImageUrl" class="form-control" required>
            </div>
            <button type="button" id="updatePartsButton" class="mt-4 btn btn-secondary">Update Part</button>
            <button type="button" id="deletePartsButton" class="mt-4 btn btn-danger">Delete Part</button>
        </div>
    </section>

    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div id="toastContainer" style="position: absolute; top: 0; right: 0;"></div>
    </div>

    <div id="toastTemplate" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000" style="display: none;">
        <div class="toast-header">
            <strong class="mr-auto" id="toastTitle"></strong>
        </div>
        <div class="toast-body" id="toastBody"></div>
    </div>

</main>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/sharedScripts.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            fetchVehicles();
            fetchParts();
           
            document.getElementById('addPartsForm').addEventListener('submit', function (event) {
                event.preventDefault();

                var formData = new FormData();
                formData.append('PartsNumber', document.getElementById('partsNumber').value);
                formData.append('PartsName', document.getElementById('partsName').value);
                formData.append('Description', document.getElementById('description').value);
                formData.append('ImageFile', document.getElementById('imageFile').files[0]);

                fetch('/api/parts', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    var dropdown = document.getElementById('partsDropdown');
                    var option = document.createElement('option');
                    option.value = data.Id;
                    option.text = data.PartsName + " (" + data.PartsNumber + ")";
                    dropdown.add(option);
                    document.getElementById('partsNumber').value = "";
                    document.getElementById('partsName').value = "";
                    document.getElementById('description').value = "";
                    document.getElementById('imageFile').value = "";
                    showToast('Success', 'Part Added');

                })
                    .catch(error => {
                    showToast('Success', 'Error adding part');
                    console.error('Error adding part:', error);
                });
            });

            document.getElementById('addVehicleForm').addEventListener('submit', function (event) {
                event.preventDefault();

                var modelYear = document.getElementById('modelYear').value;
                var make = document.getElementById('make').value;
                var model = document.getElementById('model').value;
                var trim = document.getElementById('trim').value;

                var newVehicle = {
                    ModelYear: modelYear,
                    Make: make,
                    Model: model,
                    Trim: trim
                };

                fetch('/api/vehicle', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newVehicle)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        var dropdowns = document.getElementsByClassName("vehicle-dropdown");
                        Array.from(dropdowns).forEach(dd => {
                            var option = document.createElement('option');
                            option.value = data.Id;
                            option.text = data.ModelYear + " " + data.Make + " " + data.Model + " " + data.Trim;
                            dd.add(option);
                        });


                        showToast("Success", "Vehicle Added!");
                    })
                    .catch(error => {
                        showToast("Error", "Error Adding Vehicle");
                        console.error('Error adding vehicle:', error);
                    });
            });

            document.getElementById('addFitmentForm').addEventListener('submit', function (event) {
                event.preventDefault();

                var vehicleId = document.getElementById('vehicleFitmentDropdown').value;
                var partId = document.getElementById('partFitmentDropdown').value;

                var newFitment = {
                    VehicleId: vehicleId,
                    PartId: partId
                };

                fetch('/api/fitment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newFitment)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }

                    return response.json();
                })
                .then(data => {
                    console.log('Fitment added:', data);
                    showToast("Success", "Fitment Added!");
                })
                    .catch(error => {
                    showToast("Error", "Error Adding Fitment");
                    console.error('Error adding fitment:', error);
                });

            });

            document.getElementById('updateVehicleButton').addEventListener('click', function () {
                var vehicleId = document.getElementById('selectedVehicleId').value;
                var modelYear = document.getElementById('selectedModelYear').value;
                var make = document.getElementById('selectedMake').value;
                var model = document.getElementById('selectedModel').value;
                var trim = document.getElementById('selectedTrim').value;

                var updatedVehicle = {
                    VehicleId: Number(vehicleId),
                    ModelYear: modelYear,
                    Make: make,
                    Model: model,
                    Trim: trim
                };

                fetch('/api/vehicle/', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(updatedVehicle)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Vehicle updated:', data);
                        showToast("Success", "Vehicle Updated!");
                        fetchVehicles();
                    })
                    .catch(error => {
                        showToast("Error", "Error Updating Vehicle");
                        console.error('Error updating vehicle:', error);
                    });
            });

            document.getElementById('updatePartsButton').addEventListener('click', function () {
                var formData = new FormData();
                formData.append('PartId', document.getElementById('selectedPartsId').value);
                formData.append('PartsNumber', document.getElementById('selectedPartsNumber').value);
                formData.append('PartsName', document.getElementById('selectedPartsName').value);
                formData.append('Description', document.getElementById('selectedDescription').value);
                formData.append('ImageFile', document.getElementById('selectedImageUrl').files[0]);

                fetch('/api/parts/', {
                    method: 'PUT',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    fetchParts();
                    showToast("Success", "Part Updated!");

                })
                    .catch(error => {
                    showToast("Error", "Error Updating Part!");
                    console.error('Error updating vehicle:', error);
                });
            });

            document.getElementById('deleteVehicleButton').addEventListener('click', function () {
                var vehicleId = document.getElementById('selectedVehicleId').value;

                fetch('/api/vehicle/' + vehicleId, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Vehicle deleted:', data);
                        var dropdown = document.getElementById('vehicleDropdown');
                        var option = dropdown.querySelector('option[value="' + vehicleId + '"]');
                        dropdown.removeChild(option);
                        document.getElementById("selectedVehicleId").value = '';
                        document.getElementById("selectedModelYear").value = '';
                        document.getElementById("selectedMake").value = '';
                        document.getElementById("selectedModel").value = '';
                        showToast("Success", "Vehicle Deleted!");

                    })
                    .catch(error => {
                        showToast("Error", "Error Deleting Vehicle");
                        console.error('Error deleting vehicle:', error);
                    });
            });

            document.getElementById('deletePartsButton').addEventListener('click', function () {
                var partsId = document.getElementById('selectedPartsId').value;

                fetch('/api/parts/' + partsId, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Part deleted:', data);
                        var dropdown = document.getElementById('partsDropdown');
                        var option = dropdown.querySelector('option[value="' + partsId + '"]');
                        dropdown.removeChild(option);
                        document.getElementById("selectedPartsName").value = '';
                        document.getElementById("selectedPartsNumber").value = '';
                        document.getElementById("selectedDescription").value = '';
                        document.getElementById("selectedImageUrl").value = '';
                        showToast('Success', 'Part deleted');
                    })
                    .catch(error => {
                        showToast('Error', 'Error deleting vehicle:', error);

                    });
            });

            document.getElementById('vehicleDropdown').addEventListener('change', function (event) {
                var vehicleId = event.target.value;
                console.log("event target value" + event);
                if (vehicleId) {
                    fetch('/api/vehicle/' + vehicleId)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            document.getElementById('selectedVehicleId').value = data.VehicleId;
                            document.getElementById('selectedModelYear').value = data.ModelYear;
                            document.getElementById('selectedMake').value = data.Make;
                            document.getElementById('selectedModel').value = data.Model;
                            document.getElementById('selectedTrim').value = data.Trim;
                        })
                        .catch(error => {
                            console.error('Error fetching vehicle details:', error);
                            showToast("Error", "Error fetching vehicle details");
                        });
                } else {
                    document.getElementById('selectedVehicleId').value = '';
                    document.getElementById('selectedModelYear').value = '';
                    document.getElementById('selectedMake').value = '';
                    document.getElementById('selectedModel').value = '';
                    document.getElementById('selectedTrim').value = '';
                }
            });

            document.getElementById('partsDropdown').addEventListener('change', function (event) {
                var partId = event.target.value;
                console.log("event target value" + event);
                if (partId) {
                    fetch('/api/parts/' + partId)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            document.getElementById('selectedPartsId').value = data.PartId;
                            document.getElementById('selectedPartsName').value = data.PartsName;
                            document.getElementById('selectedPartsNumber').value = data.PartsNumber;
                            document.getElementById('selectedDescription').value = data.Description;
                        })
                        .catch(error => {
                            showToast("Error", "Error fetching parts details");
                            console.error('Error fetching parts details:', error);
                        });
                } else {
                    document.getElementById('selectedPartsId').value = '';
                    document.getElementById('selectedPartsName').value = '';
                    document.getElementById('selectedPartsNumber').value = '';
                    document.getElementById('selectedDescription').value = '';
                }
            });

            function showToast(title, message, isError = false) {
                var toastTemplate = document.getElementById('toastTemplate');
                var toastClone = toastTemplate.cloneNode(true);
                toastClone.id = '';
                toastClone.style.display = 'block';

                var toastTitle = toastClone.querySelector('#toastTitle');
                var toastBody = toastClone.querySelector('#toastBody');

                toastTitle.textContent = title;
                toastBody.textContent = message;

                if (isError) {
                    toastClone.classList.add('bg-danger', 'text-white');
                } else {
                    toastClone.classList.add('bg-success', 'text-white');
                }

                var toastContainer = document.getElementById('toastContainer');
                toastContainer.appendChild(toastClone);

                $(toastClone).toast('show');
            }

            function fetchParts() {
                fetch('/api/parts')
                    .then(response => response.json())
                    .then(data => {
                        var dropdowns = document.getElementsByClassName('parts-dropdown');

                        for (var i = 0; i < dropdowns.length; i++) {
                            var dropdown = dropdowns[i];

                            dropdown.innerHTML = '';

                            var defaultOption = document.createElement('option');
                            defaultOption.value = '';
                            defaultOption.text = 'Select a Part';
                            dropdown.add(defaultOption);
                        }

                        Array.from(dropdowns).forEach(dd => {
                            data.forEach(part => {
                                var option = document.createElement('option');
                                option.value = part.PartId;
                                option.text = `${part.PartsName} (${part.PartsNumber})`;
                                dd.add(option);
                            });
                        });
                    })
                    .catch(error => showToast('Error', 'Error fetching parts:'));
            }

            function fetchVehicles() {
                fetch('/api/vehicle')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        var dropdowns = document.getElementsByClassName('vehicle-dropdown');

                        for (var i = 0; i < dropdowns.length; i++) {
                            var dropdown = dropdowns[i];

                            dropdown.innerHTML = '';

                            var defaultOption = document.createElement('option');
                            defaultOption.value = '';
                            defaultOption.text = 'Select a Vehicle';
                            dropdown.add(defaultOption);
                        }

                        Array.from(dropdowns).forEach(dd => {
                            data.forEach(vehicle => {
                                var option = document.createElement('option');
                                option.value = vehicle.VehicleId;
                                option.text = vehicle.ModelYear + " " + vehicle.Make + " " + vehicle.Model + " " + vehicle.Trim;
                                dd.add(option);
                            });
                        });

                    })
                    .catch(error => {
                        console.error('Error fetching vehicles:', error);
                    });
            }

        });
    </script>
}
