<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 class="mb-4" id="aspnetTitle">Vehicle Fitment</h1>
    </section>
    <section class="row">
        <h2 class="lead">Vehicle</h2>
        <select id="vehicleDropdown" class="vehicle-dropdown form-control mb-4">
            <option value="">Select a vehicle</option>
        </select>
    </section>
    <h2 class="lead">Associated Parts</h2>
    <section class="row" id="partsContainer">
    </section>
</main>


@section Scripts {
    <script type="text/javascript" src="~/Scripts/sharedScripts.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

            document.getElementById('vehicleDropdown').addEventListener('change', function (event) {
                var vehicleId = event.target.value;
                var partsContainer = document.getElementById('partsContainer');
                partsContainer.innerHTML = '';

                if (vehicleId) {
                    fetch('/api/parts/' + vehicleId + '/parts')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        data.forEach(part => {
                            var card = document.createElement('div');
                            card.className = 'card mb-4';
                            card.style.width = '18rem';

                            var img = document.createElement('img');
                            img.className = 'card-img-top';
                            img.src = part.ImageUrl;
                            img.alt = part.PartsName;

                            var cardBody = document.createElement('div');
                            cardBody.className = 'card-body';

                            var cardTitle = document.createElement('h5');
                            cardTitle.className = 'card-title';
                            cardTitle.textContent = part.PartsName;

                            var cardText = document.createElement('p');
                            cardText.className = 'card-text';
                            cardText.textContent = `Part #: ${part.PartsNumber}\nDescription: ${part.Description}`;

                            cardBody.appendChild(cardTitle);
                            cardBody.appendChild(cardText);
                            card.appendChild(img);
                            card.appendChild(cardBody);
                            partsContainer.appendChild(card);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching parts:', error);
                    });
                }
            });
        });
    </script>
}